$footer-background-color: #232324;
$footer-text-color: #ffffff;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.footer {
    background-color: $footer-background-color;
    color: $footer-text-color;
    padding: 20px;
    text-align: center;

    a {
        color: $footer-text-color;
        text-decoration: none;
        
        &:hover {
        text-decoration: underline;
        }
    }

    .logo {
        @include flex-center;
        font-weight: bold;
        font-size: 24px;
        
        img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        }
    }

    .social-links {
        @include flex-center;
        margin-top: 20px;
        
        a {
        display: inline-block;
        margin: 0 10px;
        
        &:first-child {
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: 0;
        }
        
        img {
            height: 24px;
            width: 24px;
        }
        }
    }
}
  